@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #112b3c;
}

#Nav {
  width: 100vw;
  height: 10vh;
}

.offcanvas-header,
.offcanvas-body {
  background-color: #112b3c;
}

.offcanvas-body a {
  color: #fff;
  padding: 2px;
  display: block;
  text-decoration: none;
  font-size: 20px;
}

.offcanvas-body a:hover {
  color: #fff;
}

svg {
  height: 50px;
  width: 50px;
}

.offcanvas-title {
  color: #fff !important;
}

.btn,
.btn:focus,
.btn:hover {
  outline: none !important;
  border-style: none !important;
}

.my-img {
  width: 75%;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .my-img {
    width: 100%;
  }
}

/* ------------------------------- Previous design */
/* Navbar section */
/* svg {
  width: 50px;
  height: 50px;
} */

/* Eye */
/* .container {
  position: relative;
  cursor: pointer;
} */

/* .iris {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  background-color: #8fe3cf;
  border-radius: 50%;
  left: 20px;
  top: 15px;
} */

/* .iris:before {
  content: '';
  position: absolute;
  background-color: #333;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 20%;
  left: 20%;
}

.eyeBall {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2.5px solid #333;
  border-radius: 50%;
  box-shadow: inset 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
  top: -5px;
  z-index: 1;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  box-shadow: 2px 5px 9px #888888;
  background: #f9f2ed;
} */

/* Section */
/* section {
  min-height: 70vh;
} */

/* Index section */
/* #Index {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#Index .my_img {
  display: block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
}

#Index .brief {
  margin-top: 16px;
  text-align: center;
}

a {
  text-decoration: none !important;
}

.body-btn {
  background-color: #e64848 !important;
  padding: 16px !important;
  color: #fff !important;
  transition: all 0.2s linear !important;
}

.body-btn:hover {
  font-size: 130% !important;
} */
