@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

#whole-body {
  width: 100vw;
  min-height: 100vh;
  color: #fefbf6; /* theme */
  background-color: #212121; /* theme */
}

.my-img {
  display: block;
  margin: auto;
}

/* ----------------------------------------------------- Navbar section */

#Nav i {
  color: #fefbf6;
}

.offcanvas-header,
.offcanvas-body {
  background-color: #212121;
}

.offcanvas-body a {
  color: #fefbf6;
  padding: 2px;
  display: block;
  text-decoration: none;
  font-size: 20px;
}

.offcanvas-body a:hover {
  color: #fefbf6;
}

svg {
  height: 50px;
  width: 50px;
}

.offcanvas-title {
  color: #fefbf6 !important;
}

.btn,
.btn:focus,
.btn:hover {
  outline: none !important;
  border-style: none !important;
}

/* ----------------------------------------------------- Resume section */

#skills ul {
  list-style-type: '🛸  ';
}

#education ul {
  list-style-type: '📚  ';
}

#transferrable-skills ul {
  list-style-type: '🔶  ';
}

#hobbies ul {
  list-style-type: '❤️  ';
}

/* -------------------------------------------------- Responsive */

@media only screen and (max-width: 1000px) {
  .my-img {
    width: 100%;
    height: 90%;
  }
}
